@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);   

    --font: 'Red Hat Display', sans-serif;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--Paleblue);

    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;

}
  
.principal{
    width: 320px;
    height: auto;
    background-color: #fff;
    text-align: center;
    font-family: var(--font);
    border-radius: 10px;
    
}

.imagen img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.texto h2{
    text-align: center;
    margin: 27px 0px 5px 0px;
    font-size: 2rem;
    font-family: var(--font);
    color: var(--Darkblue);
}

.texto > p{
    text-align: center;
    margin: 15px 0px 15px 0px;
    font-size: 1.1rem;
    line-height: 20px;
    color: var(--Desaturatedblue);
}

.orden{
    width: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
   
    margin: auto;
    border-radius: 5px;
    
    background-color: var(--Verypaleblue);
}

.orden img{
    width: 30px;
    margin: 15px;

}

.plan{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.1rem;
    line-height: 20px;
}

.plan h3{
    color: var(--Darkblue);
}

.plan p{
    color: var(--Desaturatedblue);
}


.change {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.1rem;
}

.change a{
    color: var(--Brightblue);
    
}

.boton{
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto;

    background-color: var(--Brightblue);
    border-radius: 8px;
    
   
}

.boton a{
    color: #fff;
    font-family: var(--font);
    font-size: 1.2rem;
    text-decoration: none;
}

.cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.cancel a{
    color: var(--Darkblue);
    font-size: 1.2rem;
    text-decoration: none;
}